*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}



/* header section style */

.header-container{
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 820px;
}

.header-title{
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    text-align: right;
    padding-right: 210px;
    padding-top: 200px;
    margin-bottom: 25px;
}

.header-description{
    color: #FFFFFF;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    padding-right: 210px;
    padding-left: 63%;
    margin-bottom: 30px;
}

.btn{
    text-align: right;
}

.contact-btn{
    text-align: center;
    color: #005FAC;
    font-size: 20px;
    width: 160px;
    height: 64px;
    padding: 20px 25px;
    border: 0px;
    border-radius: 5px;
    margin-right: 210px;
    margin-left: 65%;
}


/* failure section style */

.prev-failures{
    margin: 45px 15%;
}

.prev-failure-container{
    display: flex;
}

.title{
    text-align: left;
    padding-top: 200px;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
    color: #151414;
}

.description{
    font-weight: 400;
    font-size: 15px;
    color: #444343;
    padding-right: 5px;
    margin-bottom: 30px;
}

.prev-failure-container ul>li{
    text-align: left;
    list-style: none;
    font-weight: 400;
    font-size: 15px;
    color:#444343;
    padding-bottom: 7px;
}

.prev-failure-container ul>li:before{
    content: '✓';
    color:aqua;
}

/* My plans section */

.my-plan{
    margin-top: 40px;
}

.section-title{
    text-align: center;
    padding-top: 200px;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
    color: #151414;
}

.plan-container{
    display: flex;
    justify-content: space-around;
    padding: 30px 15%;
}

.catagory{
    display: inline-block;
    justify-content: center;
}

.catagory img{
    padding-bottom: 10px;
    padding-left: 25px;
}

.plan-header{
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.plan-description{
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #737272;
}


/* gradient section style */
.gradient-sec {
    margin: 80px 230px;
    height: 300px;
    background-image: url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.gradient-color {
    background-image: linear-gradient(to right,#005FAC, rgba(0, 95, 172, 0));
    border-radius: 8px;
    height: 300px;
    padding: 60px 65px;
}

.gradient-title{
    font-weight: 700;
    width: 450px;
    font-size: 45px;
    color: #FFFFFF;
    text-align: left;
}

.call-btn{
    color: #005FAC;
    text-align: center;
    font-size: 20px;
    width: 160px;
    height: 64px;
    padding: 20px 25px;
    border: 0px;
    border-radius: 5px;
    margin-top: 15px;
}

/* footer-section-style */

footer{
    width: 100%;
    background: #151414;
    margin-top: 30px;
    padding-top: 120px;
}

.footer-container{
    display: flex;
    padding: 10px 16%;
    padding-bottom: 130px;
}

.future-section{
    text-align: left;
    padding-bottom: 130px;
    margin-right: 300px;
}

.footer-title{
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
}

.footer-description{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
}

.contact-section{
    display: block;
    margin-left: 250px;
}

.contact-info{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
}

.social-links{
    display: flex;
    justify-content: left;
    padding: 15px 30px 0 0;
    list-style: none;
}

.social-links li{
    text-align: left;
    padding-right: 15px;
}

.subscribe-form{
    color: #F8F8F8;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
}

.mail-form{
    padding: 10px 25px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 15px;
}

.submit-btn{
    text-align: left;
    padding: 20px 35px;
    background-color: #005FAC;
    color: #F8F8F8;
    border: 0;
    border-radius: 5px;
}